log file /var/log/bgpd.log
log stdout
log syslog
!
debug bgp keepalives
debug bgp neighbor-events
debug bgp updates in
debug bgp updates out
!
!
route-map ALLOW-ALL permit 100
!
router bgp 300
 bgp log-neighbor-changes
 no bgp ebgp-requires-policy
 bgp router-id 172.16.0.30
 neighbor 172.16.0.10 remote-as 100
 neighbor 172.16.0.20 remote-as 200
 !
 address-family ipv4 unicast
  network 172.16.3.0/24
  neighbor 172.16.0.10 soft-reconfiguration inbound
  neighbor 172.16.0.10 route-map ALLOW-ALL in
  neighbor 172.16.0.10 route-map ALLOW-ALL out
  neighbor 172.16.0.30 soft-reconfiguration inbound
  neighbor 172.16.0.30 route-map ALLOW-ALL in
  neighbor 172.16.0.30 route-map ALLOW-ALL out
 exit-address-family
!
line vty
log commands